.link-home-header {
  color: #5fb4a2;
}

.link-home-header:hover {
  color: #33323d;
}

.link-potfolio-header {
  text-decoration: none;
  color: #5fb4a2;
}

.container-hero {
  margin: 70px 165px 30px 165px;
  position: relative;
}

.imagem-hero {
  width: 100%;
}

.text-hero {
  width: 445px;
  height: 357px;
  position: absolute;
  padding: 56px 28px 101px 27px;
  left: 0;
  bottom: 0;
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 32px;
  font-weight: 700;
  background-color: #fafafa;
}

.botao-sobre {
  width: 200px;
  height: 48px;
  border: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #203a4c;
  color: #fff;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 48px;
}

.img-botao {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.botao-sobre:hover {
  background-color: #5fb4a2;
}

.container-about {
  display: flex;
  margin: 116px 165px 30px 165px;
}

.imagem-perfil {
  max-width: 650px;
}

.text-about {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: rgb(51, 50, 61, 0.15) solid 1px;
  border-bottom: rgb(51, 50, 61, 0.15) solid 1px;
}

.text-about h1 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 32px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
  margin-bottom: 28px;
}

.text-about p {
  color: #33323d;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
  text-align: justify;
}

.text-about button {
  align-self: center;
  width: 204px;
  height: 48px;
  color: #33323d;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #fafafa;
  border: 1px solid black;
}

.text-about button:hover {
  background-color: #33323d;
  color: #fafafa;
}


