* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
}

li:hover {
  color: #5fb4a2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 165px 13px 165px;
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 42px;
  font-family: "Public Sans", sans-serif;
}

.link-home {
  color: #5fb4a2;
}

.link-home:hover {
  color: #33323d;
}
.container-hero {
  margin: 70px 165px 30px 165px;
  position: relative;
}

.imagem-hero {
  width: 100%;
}

.text-hero {
  width: 445px;
  height: 357px;
  position: absolute;
  padding: 56px 28px 101px 27px;
  left: 0;
  bottom: 0;
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 32px;
  font-weight: 700;
  background-color: #fafafa;
}

.botao-sobre {
  width: 200px;
  height: 48px;
  border: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #203a4c;
  color: #fff;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 48px;
}

.img-botao {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.botao-sobre:hover {
  background-color: #5fb4a2;
}
